mixin block
	.block
		.block__body 
			.block__head 
				img.block__icon(src="./img/icon.svg", alt="icon")
				h3 Lorem ipsum, dolor sit amet.
			.block__content
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt quos vel cumque iure ratione ut iste officia asperiores quisquam odio consequatur voluptatum natus quia tenetur labore, ea doloribus. Sequi, praesentium.Corporis magni quis praesentium laudantium nihil quidem doloremque, nam id optio voluptate animi nostrum impedit ad tenetur voluptates molestiae maxime sint sed dolor! Similique modi praesentium alias explicabo quam blanditiis.Inventore possimus obcaecati necessitatibus placeat quia, omnis minus quod eveniet a saepe voluptatibus rerum aspernatur earum officiis quasi, nam, explicabo hic ad? Et excepturi nobis, veritatis sed reprehenderit.
					a.block__button(href="#") Get it now

mixin elem(elemTitle, elemText, elemBtn)
	.elem(class=attributes.class)
		.elem__body 
			.elem__head 
				img.elem__icon(src="./img/icon.svg", alt="icon")
				h3= elemTitle
			.elem__content
					p= elemText
					a.elem__button(href="#")= elemBtn




//-protein
//-grass
//-corn

mixin checkboxImage()
	.checkbox-img
			input#protein-1(type='checkbox')
			label(for='protein-1')
				img(src='../img/protein-1.png' alt="protein food")
				p Мясо

mixin svgItem(svgCode)
	.svg__wrapper
			svg.svg__bg(width='153' height='153' viewBox='0 0 153 153' fill='none' xmlns='http://www.w3.org/2000/svg')
					path(d='M108.885 20.3841L108.895 20.3903L108.905 20.3962L138.121 36.7976C140.354 38.0514 141.725 40.4248 141.694 42.9859L141.29 76.488L141.29 76.5L141.29 76.512L141.694 110.014C141.725 112.575 140.354 114.949 138.121 116.202L108.905 132.604L108.895 132.61L108.885 132.616L80.0728 149.717C77.8703 151.024 75.1297 151.024 72.9272 149.717L44.1154 132.616L44.105 132.61L44.0945 132.604L14.879 116.202C12.6456 114.949 11.2753 112.575 11.3062 110.014L11.7099 76.512L11.7101 76.5L11.7099 76.488L11.3062 42.9858C11.2753 40.4248 12.6456 38.0514 14.879 36.7976L44.0945 20.3962L44.105 20.3903L44.1154 20.3841L72.9272 3.28344C75.1297 1.97619 77.8703 1.97619 80.0728 3.28344L108.885 20.3841Z' fill='currentColor' stroke='url(#paint1)' stroke-width='2')
					defs
						lineargradient#paint0(x1='40.8219' y1='2.76499e-06' x2='169.301' y2='129.464' gradientUnits='userSpaceOnUse')
							stop(stop-color='#FF7C46')
							stop(offset='1' stop-color='#A14FAE')
						lineargradient#paint1(x1='40.8219' y1='2.76499e-06' x2='169.301' y2='129.464' gradientUnits='userSpaceOnUse')
							stop(stop-color='#FF7C46')
							stop(offset='1' stop-color='#A14FAE')
			.svg__icon= svgCode

mixin svgButtle
	svg(width='81' height='81' viewBox='0 0 81 81' fill='none' xmlns='http://www.w3.org/2000/svg')
		path(d='M50.2727 81H30.7273C24.2888 81 19 75.6311 19 69.3285V23.8098C19 17.2738 24.2888 12.1384 30.7273 12.1384H50.2727C56.7112 12.1384 62 17.5072 62 23.8098V69.3285C62 75.8646 56.7112 81 50.2727 81ZM30.7273 13.3055C24.9786 13.3055 20.1497 17.9741 20.1497 23.8098V69.3285C20.1497 75.1643 24.9786 79.8329 30.7273 79.8329H50.2727C56.0214 79.8329 60.8503 75.1643 60.8503 69.3285V23.8098C60.8503 17.9741 56.0214 13.3055 50.2727 13.3055H30.7273ZM36.016 72.83C35.3262 72.83 34.6364 72.5965 33.9465 72.3631C32.5668 71.8962 31.4171 70.7291 30.7273 69.3285C30.0374 67.928 30.0374 66.2939 30.7273 64.8934C31.4171 63.4928 32.3369 62.3256 33.7166 61.6254L40.3851 58.5908C40.615 58.5908 40.615 58.5908 40.8449 58.5908C41.0749 58.5908 41.0749 58.8242 41.0749 58.8242L44.984 68.3948C45.2139 68.6282 44.984 69.0951 44.754 69.0951L38.3155 71.8962C37.6256 72.83 36.7059 72.83 36.016 72.83ZM40.3851 60.2248L34.4064 62.7925C33.2567 63.2594 32.3369 64.1931 31.877 65.3602C31.4171 66.5274 31.4171 67.6945 31.877 68.8616C32.3369 70.0288 33.2567 70.9625 34.4064 71.4294C35.5562 71.8962 36.7059 71.8962 37.8556 71.4294L43.8343 68.8616L40.3851 60.2248ZM46.8235 68.6282C46.5936 68.6282 46.5936 68.6282 46.8235 68.6282C46.3636 68.6282 46.3636 68.3948 46.3636 68.1614L42.4546 58.5908C42.2246 58.3573 42.4546 57.8905 42.6845 57.8905L49.123 55.0893C50.5027 54.389 52.1123 54.389 53.492 55.0893C54.8716 55.5562 56.0214 56.7233 56.7112 58.1239C57.401 59.5245 57.401 61.1585 56.7112 62.5591C56.2513 63.9596 55.1016 65.1268 53.7219 65.8271L47.0535 68.8616C46.8235 68.6282 46.8235 68.6282 46.8235 68.6282ZM43.6043 58.8242L47.0535 67.4611L53.0321 64.8934C54.1818 64.4265 55.1016 63.4928 55.5615 62.3257C56.0214 61.1585 56.0214 59.9914 55.5615 58.8242C55.1016 57.6571 54.1818 56.7233 53.0321 56.2565C51.8824 55.7896 50.7326 55.7896 49.5829 56.2565L43.6043 58.8242ZM34.1765 56.9568C32.107 56.9568 30.0374 56.2565 28.1979 54.6225C27.9679 54.389 27.9679 53.9222 28.1979 53.6887C28.4278 53.4553 28.8877 53.4553 29.1176 53.6887C29.1176 53.6887 29.1176 53.6888 29.3476 53.9222L40.6149 42.951C40.6149 42.951 40.6149 42.951 40.6149 42.7176C40.385 42.4841 40.385 42.0173 40.6149 41.7839C40.8449 41.5504 41.3048 41.5504 41.5348 41.7839C44.5241 45.5187 44.0641 50.8876 40.6149 54.1556C38.7754 56.0231 36.4759 56.9568 34.1765 56.9568ZM30.2674 54.6225C33.2567 56.4899 37.1658 56.0231 39.6952 53.4553C42.2246 50.8876 42.9144 46.9193 41.0749 43.8847L30.2674 54.6225ZM27.508 53.6887C27.2781 53.6887 27.2781 53.6888 27.0481 53.4553C26.8182 53.2219 26.8182 52.9885 26.5883 52.755C24.0589 49.0202 24.7486 44.1182 27.9679 41.0836C31.1871 38.049 36.016 37.5821 39.4652 40.3833C39.6952 40.6167 39.9251 40.6167 39.9251 40.8501C40.1551 41.0836 40.1551 41.5504 39.9251 41.7839C39.6952 42.0173 39.2353 42.0173 39.0054 41.7839C39.0054 41.7839 39.0053 41.7839 38.7754 41.5504L27.508 52.5216C27.508 52.5216 27.508 52.5216 27.508 52.755C27.738 52.9885 27.738 53.4553 27.508 53.6887C27.738 53.6887 27.9679 53.6887 27.508 53.6887ZM34.1765 39.683C32.107 39.683 30.2674 40.3833 28.6578 42.0173C26.1284 44.585 25.4385 48.5533 27.2781 51.5879L38.3155 40.8501C36.9358 40.1498 35.5562 39.683 34.1765 39.683ZM47.5133 40.6167C46.3636 40.6167 45.4438 40.3833 44.5241 39.683L38.3155 35.7147C38.0855 35.7147 38.0856 35.4813 38.0856 35.2478C38.0856 35.0144 38.0856 35.0144 38.0856 34.781L43.6043 25.9107C43.8342 25.6772 44.0642 25.4438 44.5241 25.6772L50.5027 29.4121C53.262 31.0461 53.9518 34.781 52.3422 37.3487C51.4224 38.7493 50.2727 39.683 48.6631 39.9164C48.4331 40.6167 47.9732 40.6167 47.5133 40.6167ZM39.4652 35.0144L44.984 38.5158C46.1337 39.2161 47.2834 39.4496 48.4332 38.9827C49.5829 38.7493 50.7326 38.049 51.1925 36.8818C52.5722 34.781 51.8823 31.7464 49.8128 30.5793L44.2941 27.0778L39.4652 35.0144ZM36.7059 34.5475H36.4759L30.4973 30.8127C29.1176 29.879 28.1978 28.7118 27.9679 27.0778C27.508 25.6772 27.9679 24.0432 28.6578 22.6427C29.5776 21.2421 30.7273 20.3084 32.3369 20.0749C33.7166 19.6081 35.3262 20.0749 36.7059 20.7752L42.9144 24.7435C43.1444 24.7435 43.1444 24.9769 43.1444 25.2104C43.1444 25.4438 43.1444 25.4438 43.1444 25.6772L37.6257 34.5475C37.1658 34.5475 36.9358 34.5475 36.7059 34.5475ZM33.4867 21.2421C33.0268 21.2421 32.7968 21.2421 32.3369 21.4755C31.1872 21.709 30.0374 22.4092 29.5775 23.5764C28.8877 24.5101 28.6577 25.9107 29.1176 27.0778C29.3476 28.245 30.0375 29.4121 31.1872 29.879L36.7059 33.3804L41.5348 25.6772L36.016 22.1758C35.0962 21.4755 34.1765 21.2421 33.4867 21.2421ZM54.8716 11.2046H26.1284C25.8984 11.2046 25.4385 10.9712 25.4385 10.5043V0.700295C25.4385 0.466866 25.6685 0 26.1284 0H55.1016C55.3316 0 55.7914 0.233436 55.7914 0.700295V10.5043C55.5615 10.7377 55.3315 11.2046 54.8716 11.2046ZM26.5883 9.80406H54.4117V1.40059H26.5883V9.80406Z' fill='#222222')



mixin product-card(img, priceNew, priceOld, title, best)
	.product-card(class=attributes.class)
		.product-card__body
			.product-card__favorites
				svg(width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg')
					path(fill-rule='evenodd' clip-rule='evenodd' d='M8.50356 4.86223C8.22216 5.13356 7.77784 5.13356 7.49644 4.86223L6.99287 4.3767C6.40347 3.80841 5.60723 3.46142 4.72727 3.46142C2.9198 3.46142 1.45455 4.93359 1.45455 6.74961C1.45455 8.49062 2.39257 9.92823 3.74673 11.1094C5.10205 12.2916 6.72247 13.0757 7.69065 13.4758C7.89309 13.5595 8.10691 13.5595 8.30935 13.4758C9.27753 13.0757 10.8979 12.2916 12.2533 11.1094C13.6074 9.92823 14.5455 8.49061 14.5455 6.74961C14.5455 4.93359 13.0802 3.46142 11.2727 3.46142C10.3928 3.46142 9.59653 3.80841 9.00713 4.3767L8.50356 4.86223ZM8 3.32227C7.15062 2.50332 5.99745 2 4.72727 2C2.11647 2 0 4.12647 0 6.74961C0 11.403 5.06934 13.9727 7.1373 14.8274C7.69423 15.0575 8.30577 15.0575 8.8627 14.8274C10.9307 13.9727 16 11.4029 16 6.74961C16 4.12647 13.8835 2 11.2727 2C10.0026 2 8.84938 2.50332 8 3.32227Z')
			.product-card__picture
				.product-card__image
					a.product-card__link-to-info(href="#product-info")
						img(src="./img/" + img + ".png", alt="photo-product")
			.product-card__text-content
				a.product-card__link-to-info(href="#product-info")
					.product-card__prices
						p.product-card__prices-new=  priceNew
						p.product-card__prices-old=  priceOld
				a.product-card__link-to-info(href="#product-info")
					p.product-card__bestseller= best
				a.product-card__link-to-info(href="#product-info")
					p.product-card__title= title
			.product-card__buttons
				.product-card__cart-btn
					button В корзину
				.product-card__quantity.quantity-product
					button.quantity-product__button.quantity-product__minus -
					input.quantity-product__number(type="number" name="quantity-product" value="1" disabled)
					button.quantity-product__button.quantity-product__plus +

.section__block.section__block--2
	.date__module 
		#dateOutput
	+block
	+block
	+block
	+block
	+block
	br
	+checkboxImage


.section__block.section__block--2
	+elem("First elem", "ipsum dolor sit amet consectetur Ad minima amet eveniet voluptates animi id, vero magnam optio nam eos officia nihil accusantium reiciendis sapiente, tenetur perferendis odio in deleniti?Consequatur, rerum! Assumenda aut laboriosam nam labore nesciunt eveniet quam facere? Voluptatibus dolores eos quo quod culpa maiores, in assumenda earum dolor veniam, ipsa excepturi sunt commodi doloribus illum temporibus.Quasi quod sit sunt. Non, adipisci dolor. Temporibus, tempore, minima, non ratione similique exercitationem beatae optio doloremque corrupti magnam nihil officiis ex obcaecati quas. Eius perferendis suscipit omnis dolore perspiciatis!. Ad minima amet eveniet voluptates animi id, vero magnam optio nam.")
	+elem("Second elem", "ipsum dolor sit amet consectetur Ad minima amet eveniet voluptates animi id, vero magnam optio nam eos officia nihil accusantium reiciendis sapiente, tenetur perferendis odio in deleniti?Consequatur, rerum! Assumenda aut laboriosam nam labore nesciunt eveniet quam facere? Voluptatibus dolores eos quo quod culpa maiores, in assumenda earum dolor veniam, ipsa excepturi sunt commodi doloribus illum temporibus.Quasi quod sit sunt. Non, adipisci dolor. Temporibus, tempore, minima, non ratione similique exercitationem beatae optio doloremque corrupti magnam nihil officiis ex obcaecati quas. Eius perferendis suscipit omnis dolore perspiciatis!. Ad minima amet eveniet voluptates animi id, vero magnam optio nam.", "Get it now")(class="old")
	+elem("Third elem", "ipsum dolor sit amet consectetur Ad minima amet eveniet voluptates animi id, vero magnam optio nam eos officia nihil accusantium reiciendis sapiente, tenetur perferendis odio in deleniti?Consequatur, rerum! Assumenda aut laboriosam nam labore nesciunt eveniet quam facere? Voluptatibus dolores eos quo quod culpa maiores, in assumenda earum dolor veniam, ipsa excepturi sunt commodi doloribus illum temporibus.Quasi quod sit sunt. Non, adipisci dolor. Temporibus, tempore, minima, non ratione similique exercitationem beatae optio doloremque corrupti magnam nihil officiis ex obcaecati quas. Eius perferendis suscipit omnis dolore perspiciatis!. Ad minima amet eveniet voluptates animi id, vero magnam optio nam.", "Download")
	+elem("Fourth elem", "ipsum dolor sit amet consectetur Ad minima amet eveniet voluptates animi id, vero magnam optio nam eos officia nihil accusantium reiciendis sapiente, tenetur perferendis odio in deleniti?Consequatur, rerum! Assumenda aut laboriosam nam labore nesciunt eveniet quam facere? Voluptatibus dolores eos quo quod culpa maiores, in assumenda earum dolor veniam, ipsa excepturi sunt commodi doloribus illum temporibus.Quasi quod sit sunt. Non, adipisci dolor. Temporibus, tempore, minima, non ratione similique exercitationem beatae optio doloremque corrupti magnam nihil officiis ex obcaecati quas. Eius perferendis suscipit omnis dolore perspiciatis!. Ad minima amet eveniet voluptates animi id, vero magnam optio nam.", "Bye it")
	+elem("Five elem", "ipsum dolor sit amet consectetu Ad minima amet eveniet voluptates animi id, vero magnam optio nam eos officia nihil accusantium reiciendis sapiente, tenetur perferendis odio in deleniti?Consequatur, rerum! Assumenda aut laboriosam nam labore nesciunt eveniet quam facere? Voluptatibus dolores eos quo quod culpa maiores, in assumenda earum dolor veniam, ipsa excepturi sunt commodi doloribus illum temporibus.Quasi quod sit sunt. Non, adipisci dolor. Temporibus, tempore, minima, non ratione similique exercitationem beatae optio doloremque corrupti magnam nihil officiis ex obcaecati quas. Eius perferendis suscipit omnis dolore perspiciatis!. Ad minima amet eveniet voluptates animi id, vero magnam optio nam.", "Learn more")(class="new")
	.svg__wrapper
			svg.svg__image(width='153' height='153' viewBox='0 0 153 153' fill='none' xmlns='http://www.w3.org/2000/svg')
					path(d='M108.885 20.3841L108.895 20.3903L108.905 20.3962L138.121 36.7976C140.354 38.0514 141.725 40.4248 141.694 42.9859L141.29 76.488L141.29 76.5L141.29 76.512L141.694 110.014C141.725 112.575 140.354 114.949 138.121 116.202L108.905 132.604L108.895 132.61L108.885 132.616L80.0728 149.717C77.8703 151.024 75.1297 151.024 72.9272 149.717L44.1154 132.616L44.105 132.61L44.0945 132.604L14.879 116.202C12.6456 114.949 11.2753 112.575 11.3062 110.014L11.7099 76.512L11.7101 76.5L11.7099 76.488L11.3062 42.9858C11.2753 40.4248 12.6456 38.0514 14.879 36.7976L44.0945 20.3962L44.105 20.3903L44.1154 20.3841L72.9272 3.28344C75.1297 1.97619 77.8703 1.97619 80.0728 3.28344L108.885 20.3841Z' fill='currentColor' stroke='url(#paint1)' stroke-width='2')
					defs
						lineargradient#paint0(x1='40.8219' y1='2.76499e-06' x2='169.301' y2='129.464' gradientUnits='userSpaceOnUse')
							stop(stop-color='#FF7C46')
							stop(offset='1' stop-color='#A14FAE')
						lineargradient#paint1(x1='40.8219' y1='2.76499e-06' x2='169.301' y2='129.464' gradientUnits='userSpaceOnUse')
							stop(stop-color='#FF7C46')
							stop(offset='1' stop-color='#A14FAE')

			svg.svg__icon(width='81' height='81' viewBox='0 0 81 81' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
					path(d='M64.7426 72.6031C63.7504 72.6031 62.9566 72.2063 62.3613 71.4125C61.766 70.6188 61.3691 69.825 61.3691 68.6343V47.2031C61.3691 45.0203 62.7582 43.4328 64.7426 43.4328H69.1082C70.1004 43.4328 70.8942 43.8297 71.4895 44.6234C72.0848 45.4172 72.4817 46.2109 72.4817 47.4016V68.8328C72.4817 71.0156 71.0926 72.6031 69.1082 72.6031H64.7426ZM69.1082 44.6234H64.7426C63.552 44.6234 62.5598 45.8141 62.5598 47.4016V68.8328C62.5598 69.6266 62.7582 70.2219 63.1551 70.8172C63.552 71.4125 64.1473 71.6109 64.7426 71.6109H69.1082C70.2989 71.6109 71.291 70.4203 71.291 68.8328V47.4016C71.291 46.6078 71.0926 46.0125 70.6957 45.4172C70.2989 44.8219 69.7035 44.6234 69.1082 44.6234Z' fill='currentColor')
					path(d='M29.8168 72.8016C28.8246 72.8016 28.0309 72.4047 27.4355 71.6109C26.8402 70.8172 26.4434 70.0234 26.4434 68.8328V47.4016C26.4434 45.2187 27.8324 43.6312 29.8168 43.6312H34.1824C35.1746 43.6312 35.9684 44.0281 36.5637 44.8219C37.159 45.6156 37.5559 46.4094 37.5559 47.6V69.0313C37.5559 71.2141 36.1668 72.8016 34.1824 72.8016H29.8168ZM34.1824 44.6234H29.8168C28.6262 44.6234 27.634 45.8141 27.634 47.4016V68.8328C27.634 69.6266 27.8324 70.2219 28.2293 70.8172C28.6262 71.4125 29.2215 71.6109 29.8168 71.6109H34.1824C35.373 71.6109 36.3652 70.4203 36.3652 68.8328V47.4016C36.3652 46.6078 36.1668 46.0125 35.7699 45.4172C35.373 44.8219 34.7777 44.6234 34.1824 44.6234Z' fill='currentColor')
					path(d='M29.8168 72.8016C28.8246 72.8016 28.0309 72.4047 27.4355 71.6109C26.8402 70.8172 26.4434 70.0234 26.4434 68.8328V47.4016C26.4434 45.2187 27.8324 43.6312 29.8168 43.6312H34.1824C35.1746 43.6312 35.9683 44.0281 36.5637 44.8219C37.159 45.6156 37.5559 46.4094 37.5559 47.6V53.7516H61.5668V47.6C61.5668 45.4172 62.9559 43.8297 64.9403 43.8297H69.3059C70.2981 43.8297 71.0918 44.2265 71.6872 45.0203C72.2825 45.814 72.6793 46.6078 72.6793 47.7984V69.2297C72.6793 71.4125 71.2903 73 69.3059 73H64.9403C63.1543 73 61.5668 71.2141 61.5668 69.2297V63.0781H37.5559V69.2297C37.5559 71.4125 36.1668 73 34.1824 73L29.8168 72.8016ZM34.1824 44.6234H29.8168C28.6262 44.6234 27.634 45.8141 27.634 47.4016V68.8328C27.634 69.6266 27.8324 70.2219 28.2293 70.8172C28.6262 71.4125 29.2215 71.6109 29.8168 71.6109H34.1824C35.373 71.6109 36.3652 70.4203 36.3652 68.8328V61.4906H62.559V68.8328C62.559 70.4203 63.5512 71.6109 64.7418 71.6109H69.1075C70.2981 71.6109 71.2903 70.4203 71.2903 68.8328V47.4016C71.2903 46.6078 71.0918 46.0125 70.695 45.4172C70.2981 44.8219 69.7028 44.6234 69.1075 44.6234H64.7418C63.5512 44.6234 62.559 45.8141 62.559 47.4016V54.7437H36.3652V47.4016C36.3652 46.6078 36.1668 46.0125 35.7699 45.4172C35.373 44.8219 34.7777 44.6234 34.1824 44.6234Z' fill='currentColor')
					path(d='M74.0682 69.2297C73.2744 69.2297 72.6791 68.8329 72.0838 68.2376C71.6869 67.6422 71.29 66.8485 71.29 66.0547V49.7828C71.29 48.1953 72.4807 46.8063 73.8697 46.8063H77.2432C78.0369 46.8063 78.6322 47.2031 79.2275 47.7985C79.6244 48.3938 80.0213 49.1875 80.0213 49.9813V66.2532C80.0213 67.8407 78.8307 69.2297 77.4416 69.2297H74.0682ZM72.4807 66.2532C72.4807 66.8485 72.6791 67.2453 73.076 67.6422C73.2744 68.0391 73.6713 68.2376 74.0682 68.2376H77.4416C78.2354 68.2376 79.0291 67.2454 79.0291 66.2532V49.9813C79.0291 49.3859 78.8307 48.9891 78.6323 48.5922C78.4338 48.1953 78.0369 47.9969 77.6401 47.9969H74.2666C73.4729 47.9969 72.6791 48.9891 72.6791 49.9813L72.4807 66.2532Z' fill='currentColor')
					path(d='M21.6814 69.2297C20.8877 69.2297 20.2924 68.8329 19.6971 68.2376C19.3002 67.6422 18.9033 66.8485 18.9033 66.0547V49.7828C18.9033 48.1953 20.094 46.8063 21.483 46.8063H24.8565C26.2455 46.8063 27.4361 48.1953 27.4361 49.7828V66.0547C27.4361 67.6422 26.2455 69.0313 24.8565 69.0313L21.6814 69.2297ZM20.094 66.2532C20.094 66.8485 20.2924 67.2453 20.6892 67.6422C20.8877 68.0391 21.2846 68.2376 21.6814 68.2376H25.0549C25.8487 68.2376 26.6424 67.2454 26.6424 66.2532V49.9813C26.6424 48.9891 25.8487 47.9969 25.0549 47.9969H21.6814C20.8877 47.9969 20.094 48.9891 20.094 49.9813V66.2532Z' fill='currentColor')
					path(d='M47.0812 47.5999C46.8828 47.5999 46.4859 47.6 46.2875 47.4015L42.1203 46.0124C40.3343 45.4171 39.5406 43.4328 40.1359 41.2499L46.8828 20.8109C47.2797 19.8187 47.875 19.0249 48.6687 18.6281C49.4625 18.0327 50.4546 18.0327 51.2484 18.2312L55.4156 19.6202C57.2015 20.2156 57.9953 22.1999 57.3999 24.3827L50.6531 44.8218C50.0578 46.4093 48.4703 47.5999 47.0812 47.5999ZM50.2562 19.2233C49.8593 19.2233 49.4624 19.4218 49.0656 19.6202C48.4703 20.0171 48.0734 20.6124 47.875 21.4062L41.1281 41.8453C40.7312 43.2343 41.1281 44.8218 42.3187 45.2187L46.4859 46.6078C47.6765 47.0046 49.0656 46.0124 49.4624 44.6234L56.2093 24.1843C56.6062 22.7952 56.2093 21.2077 55.0187 20.8109L50.8515 19.4218C50.6531 19.2234 50.4546 19.2233 50.2562 19.2233Z' fill='currentColor')
					path(d='M13.7443 36.6859C13.5458 36.6859 13.149 36.6859 12.9505 36.4875L8.78334 35.0984C6.9974 34.5031 6.20365 32.5187 6.79896 30.3359L13.5459 9.8968C13.9427 8.90461 14.538 8.11087 15.3318 7.714C16.1255 7.11869 17.1177 7.11866 17.9115 7.3171L22.0787 8.70619C23.8646 9.3015 24.6584 11.2859 24.0631 13.4687L17.3162 33.9078C16.7209 35.6937 15.1333 36.6859 13.7443 36.6859ZM16.9193 8.30929C16.5224 8.30929 16.1255 8.50775 15.7287 8.70619C15.1333 9.10306 14.7365 9.69836 14.5381 10.4921L7.79115 30.9312C7.39428 32.3203 7.79116 33.9078 8.98179 34.3046L13.149 35.6937C14.3396 36.0906 15.7287 35.0984 16.1256 33.7093L22.8724 13.2702C23.2693 11.8812 22.8724 10.2937 21.6818 9.8968L17.5146 8.50774C17.3162 8.3093 17.1177 8.30929 16.9193 8.30929Z' fill='currentColor')
					path(d='M47.0818 47.6C46.8834 47.6 46.4865 47.6 46.2881 47.4015L42.1209 46.0125C40.3349 45.4171 39.5412 43.4328 40.1365 41.25L42.1209 35.2968L19.3005 27.7562L17.3162 33.7093C16.9193 34.7015 16.324 35.4953 15.5302 35.8921C14.7365 36.4875 13.7443 36.4875 12.9505 36.289L8.78334 34.9C6.9974 34.3046 6.20365 32.3202 6.79896 30.1374L13.5459 9.69838C13.9427 8.70619 14.538 7.91243 15.3318 7.51555C16.1255 6.92024 17.1177 6.92025 17.9115 7.11868L22.0787 8.50774C23.8646 9.10305 24.6584 11.0874 24.0631 13.2702L22.0787 19.2234L44.899 26.764L46.8834 20.8109C47.2803 19.8187 47.8756 19.025 48.6693 18.6281C49.4631 18.0328 50.4553 18.0327 51.249 18.2312L55.4162 19.6203C57.2021 20.2156 57.9959 22.1999 57.4006 24.3828L50.6537 44.8218C50.0584 46.4093 48.4709 47.6 47.0818 47.6ZM18.5068 26.5656L43.5099 34.7015L41.3271 41.6468C40.9303 43.0359 41.3271 44.6234 42.5177 45.0203L46.685 46.4094C47.8756 46.8062 49.2646 45.814 49.6615 44.425L56.4084 23.9859C56.8053 22.5968 56.4084 21.0093 55.2178 20.6125L51.0506 19.2234C50.4553 19.0249 49.86 19.2234 49.2646 19.4218C48.6693 19.8187 48.2724 20.414 48.074 21.2077L45.8912 28.1531L20.8881 20.0171L23.0709 13.0718C23.4678 11.6827 23.0709 10.0953 21.8802 9.69838L17.713 8.30929C17.1177 8.11085 16.5224 8.3093 15.9271 8.50774C15.3318 8.90462 14.9349 9.49992 14.7365 10.2937L7.9896 30.7328C7.59273 32.1218 7.98961 33.7093 9.18024 34.1062L13.3474 35.4953C13.9427 35.6937 14.5381 35.4953 15.1334 35.2968C15.7287 34.9 16.1255 34.3047 16.324 33.5109L18.5068 26.5656Z' fill='currentColor')
					path(d='M55.8127 46.8062C55.6143 46.8062 55.4158 46.8062 55.0189 46.6078L51.8439 45.6156C50.4549 45.2187 49.8596 43.4328 50.2564 41.8453L55.2174 26.3671C55.8127 24.7796 57.2018 23.7874 58.5908 24.1843L61.7658 25.1765C63.1549 25.5734 63.7502 27.3593 63.3533 28.9468L58.3924 44.425C57.9955 46.0125 57.0033 46.8062 55.8127 46.8062ZM51.2486 42.2422C50.8518 43.2343 51.2486 44.425 52.0424 44.6234L55.2174 45.6156C56.0111 45.814 57.0033 45.2187 57.4002 44.2265L62.3611 28.7484C62.758 27.7562 62.3611 26.5656 61.5674 26.3671L58.5908 25.375C57.7971 25.1765 56.8049 25.7718 56.408 26.764L51.2486 42.2422Z' fill='currentColor')
					path(d='M5.80662 30.5343C5.60818 30.5343 5.40976 30.5343 5.01288 30.3359L1.83787 29.3437C1.24255 29.1453 0.647266 28.55 0.250391 27.9546C0.0519531 27.3593 0.0519531 26.3671 0.250391 25.7718L5.21133 10.2937C5.40977 9.49991 6.00508 8.90461 6.60039 8.50774C7.1957 8.11086 7.98945 7.91243 8.58477 8.11087L11.7598 9.10306C12.3551 9.3015 12.9504 9.8968 13.3473 10.4921C13.5457 11.0874 13.5457 12.0796 13.3473 12.6749L8.38632 28.1531C8.18788 28.9468 7.59257 29.5421 6.99726 29.939C6.79882 30.5343 6.2035 30.5343 5.80662 30.5343ZM1.441 25.9703C1.24256 26.5656 1.24256 26.9625 1.441 27.5578C1.63944 27.9546 1.83789 28.3515 2.23477 28.3515L5.40975 29.3437C5.80663 29.5421 6.20352 29.3437 6.60039 29.1452C6.99727 28.9468 7.39414 28.3515 7.59258 27.9546L12.5535 12.4765C12.752 11.8812 12.752 11.4843 12.5535 10.889C12.3551 10.4921 12.1566 10.0952 11.7598 10.0952L8.58477 9.10306C8.18789 8.90462 7.791 9.10304 7.39413 9.30148C6.99725 9.49991 6.60038 10.0952 6.40194 10.4921L1.441 25.9703Z' fill='currentColor')

.section__block.section__block--1
	.date__module
	.item__body
		.item__wrapper
			+product-card(11, "150P", "250P", "Шарики Шарики Шарики Шары", "Бестселлер Бестселлер Бестселлер Бестселлер Бестселлер")
			+product-card(11, 150, 250, "Воздух")
			+product-card(11, 150, 250, "Шарики", "Бестселлер")(class="product-card--sale")